:root {
  --white: var(--foreground);

  --text: #2e3440;

  --background: hsl(0, 0%, 95%);
  --accent: #5e81ac;
}

@media (prefers-color-scheme: dark) {
  :root {
    --white: var(--text);

    --text: #e8eef2;

    --background: hsl(0, 0%, 20%);
    --accent: #4991D8;
  }
}
body {
  margin: 1em;
  overflow-x: hidden;
  text-overflow: ellipsis;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  color: var(--text);
  background: var(--background);
}

a {
    color: var(--accent);
    font-weight: bold;
    text-decoration: none;
}

